# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/

# Node
node_modules/
dist/
.vite/

# Data (volumes Docker)
data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker volumes locaux
face_models/
